<div class="hero">
    <div class="logo_section">
        <div class="">
            <a href="/">
                <!-- <img src="img/logo.svg" alt="logo footer"> -->
                <div class="logo"></div>                    
            </a>
        </div>
        <div>
            <div class="slogan_block">
                <div class="fraza1"></div>
                <div class="fraza2"></div>
            </div>
        </div>
    </div>
</div>