<%- include("partials/header.ejs") %>

<div class="pnf-bg">

    <div class="pnf-bg-filtr">

        <div class="pnf-info-holder">

            <div class="pnf-info">
                <h1>404</h1>
                <h2>Zagubiła mi<br>się strona</h2>
            </div>

        </div>

    </div>

</div>


<%- include("partials/footer.ejs") %>